redis-ha:
  enabled: false

controller:
  replicas: 1

server:
  replicas: 1
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"

repoServer:
  replicas: 1

applicationSet:
  replicas: 1

global:
  domain: argocd.test.local

configs:
  params:
    server.insecure: true

certificate:
  enabled: false

