name: ci
on:
  push:
    paths:
      - 'src/**'
    branches:
      - master

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    outputs:
      new_release_published: ${{ steps.release.outputs.new_release_published }}
      new_release_version: ${{ steps.release.outputs.new_release_version }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0  # necesario para semantic-release

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'

      - name: Semantic Release
        id: release
        uses: cycjimmy/semantic-release-action@v6.0.0
        with:
          extra_plugins: |
            @semantic-release/commit-analyzer@^13.0.1
            @semantic-release/exec@^7.1.0
            @semantic-release/git@^10.0.1
            @semantic-release/github@^12.0.2
            @semantic-release/release-notes-generator@^14.1.0
            conventional-changelog-conventionalcommits@^9.1.0
            semantic-release-github-actions-tags@^2.0.2

  docker:
    name: Docker Build and Push
    runs-on: ubuntu-latest
    if: needs.release.outputs.new_release_published == 'true'
    needs: release
    permissions:
      contents: write
      packages: write
    steps:
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push Docker image
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: ghcr.io/${{ github.repository_owner }}/python-app:${{ needs.release.outputs.new_release_version }}
        platforms: linux/amd64,linux/arm64